.homebanner-wrapper {
  width: 100%;
  min-height: auto;
  height: 30vw;
  margin-bottom: 20px;

  @media only screen and (max-width: 799px) {
    display: none;
  }

  .homebanner {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("https://live.staticflickr.com/65535/50015599077_b1b534f036_k.jpg");
  }
}
