.header-cart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .cart-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 0px 10px;

    border-radius: 2px;
    width: 180px;

    cursor: pointer;
    text-align: right;

    .cart-count {
      color: orange;
    }
  }
  .cart-icon {
    animation: moveLeftRight 0.5s;
  }
}

@-webkit-keyframes moveLeftRight {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
