.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: white;
  opacity: 0.8;
  height: 100vh;
  text-align: left;

  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 9;

  @media (max-width: 899px) {
    width: 100%;
    display: flex;
  }

  a {
    font-size: 2rem;
    padding: 2rem 0;
    font-weight: bold;
    color: black;
    transition: color 0.3s linear;

    @media (max-width: 599px) {
      font-size: 1.5rem;
      text-align: center;
    }

    &:hover {
      color: orange;
    }
  }
}
