.navi-container {
  width: 100%;
  display: flex;
  background-color: #e7520d;
  margin: auto;
  color: #fff;
  padding: 0;

  @media only screen and (max-width: 899px) {
    display: none;
  }
  li {
    display: inline-flex;
    border-right: 1px solid white;

    &:last-child {
      border: 0px;
    }
    a {
      color: white;

      font-size: 18px;

      padding: 0 10px;
      text-align: center;
      transition: all 0.2s ease;
      vertical-align: center;

      &:hover {
        color: orange;
        text-decoration: none;
      }

      &:active {
        color: black;
      }
    }
  }
}
