.footer-container {
  width: 100%;
  min-height: 100px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .footer-column {
    min-height: 80px;
    width: 25%;
    padding: 20px;

    @media (max-width: 820px) {
      width: 50%;
    }

    @media (max-width: 480px) {
      width: 100%;
    }

    & ul {
      & li {
        display: block;
        font-size: 18px;
        transition: all 0.2s ease;
        padding: 10px 0px;

        &:hover {
          color: #e7520d;
        }
      }
    }
  }
}
