$orange: #f37d10;

.product-container {
  padding: 10px;
  width: 20%;
  margin: -1px 0 0 -1px;

  .product-wrapper {
    padding: 10px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: stretch;
    align-items: center;

    &:hover {
      .category-product-image {
        transform: scale(1.1);
      }
    }

    .category-product-image {
      width: 100%;
      height: 95%;
      position: relative;
      transition: all 0.2s ease-in;
      margin-bottom: 15px;

      .in-stock {
        color: green;
        position: absolute;
        border: 1px solid orange;
        padding: 3px;
        width: 50%;
        text-align: center;
        opacity: 0;
      }

      .outofstock {
        color: red;
        position: absolute;
        border: 1px solid orange;
        padding: 3px;
        width: 50%;
        text-align: center;
      }
    }
  }

  .product-info {
    text-align: center;

    .name {
      font-size: 18px;
      max-height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .partnumber {
      font-size: 14px;
      color: #1490f5;
    }

    .price {
      font-size: 22px;
      color: $orange;
    }
  }

  .custom-button {
    width: 100%;
  }
}

@media (max-width: 820px) {
  .product-container {
    width: 33%;
  }
}

@media (max-width: 480px) {
  .product-container {
    width: 50%;
    padding: 3px;
  }

  .product-wrapper {
    padding: 0px;
  }
}
